[core]
	excludesfile = /Users/pc976/.gitignore_global
	editor = nvim -c \"set fenc=utf-8\"
[user]
	name = r-hanafusa
	email = r_hanafusa@dreamarts.co.jp
[rebase]
	autosquash = true
[hub]
	host = stainless.dreamarts.co.jp
[icdiff]
	options = --highlight --line-numbers
