[core]
	excludesfile = ~/.gitignore_global
	editor = nvim -c \"set fenc=utf-8\"
    commentChar = ">"
    pager = delta --plus-color="#013800" --plus-emph-color="#016800" --minus-color="#440001" --minus-emph-color="#740001" --theme='Monokai Extended'
[user]
	name = softoika
	email = zwgntz@gmail.com
[rebase]
	autosquash = true
[hub]
	host = stainless.dreamarts.co.jp
[icdiff]
	options = --highlight --line-numbers
[interactive]
    diffFilter = delta --color-only
[delta]
	features = line-numbers
	whitespace-error-style = 22 reverse
[alias]
    a = add
    bi = bisect
    br = branch
    c = commit
	ch = checkout
    cp = cherry-pick
    d = diff
    l = log
    mr = merge
    p = push
    pl = pull
    r = restore
    rb = rebase
    rs = reset
    s = status
    st = stash
    sw = switch

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
[includeIf "gitdir:~/Repositories/da.shoprun/"]
    path = ~/.gitconfig_da
